@import "tailwindcss";

@utility site-container {
  @apply max-w-[320px] md:max-w-[700px] lg:max-w-[960px] xl:max-w-[1200px];
}

@theme {
  --color-primary-blue: #2B78FF;
  --color-secondary: #0A0A0A;
  --color-secondary-text: #737373;
  --font-sans: var(--font-poppins);
}

@keyframes floatY {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-35px);
  }
}

@keyframes floatX {

  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(15px);
  }
}

@keyframes floatXY {

  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(12px, -12px) rotate(2deg);
  }
}