@import "tailwindcss";

@utility site-container {
  @apply max-w-[320px] md:max-w-[700px] lg:max-w-[960px] xl:max-w-[1200px];
}

@theme {
  --color-primary-blue: #2B78FF;
  --color-secondary: #0A0A0A;
  --color-secondary-text: #737373;
  --font-sans: var(--font-poppins);
}

/* Default (mobile) */
@keyframes floatUp {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes floatDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

.float-up {
  animation: floatUp 2s ease-in-out infinite;
}

.float-down {
  animation: floatDown 2s ease-in-out infinite;
}


/* md ≥768px */
@media (min-width: 768px) {
  @keyframes floatUp {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes floatDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(15px);
    }
  }

  .float-up {
    animation-duration: 2.5s;
  }

  .float-down {
    animation-duration: 2.5s;
  }
}


/* lg ≥1024px */
@media (min-width: 1024px) {
  @keyframes floatUp {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-22px);
    }
  }

  @keyframes floatDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(22px);
    }
  }

  .float-up {
    animation-duration: 3s;
  }

  .float-down {
    animation-duration: 3s;
  }
}


/* xl ≥1280px */
@media (min-width: 1280px) {
  @keyframes floatUp {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes floatDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(30px);
    }
  }

  .float-up {
    animation-duration: 3.5s;
  }

  .float-down {
    animation-duration: 3.5s;
  }
}