@import "tailwindcss";

@utility site-container {
  @apply max-w-[320px] md:max-w-[700px] lg:max-w-[960px] xl:max-w-[1200px];
}

@theme {
  --color-primary-blue: #2B78FF;
  --color-secondary: #0A0A0A;
  --color-secondary-text: #737373;
  --font-sans: var(--font-poppins);
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }
}

.wave-bar {
  animation: wave 3s ease-in-out infinite;
}